/* START DEFAULT TAGS */
* {
  box-sizing: border-box;
}

body {
  color: #333;
  overflow-x: hidden;
}

@import 'https://fonts.googleapis.com/css?family=Lato:400, 700|Karla:400';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
}

p {
  padding: 1rem 0;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 25px;
  letter-spacing: -0.3px;
  word-spacing: -0.1px;
  text-transform: none;
}

/* END DEFAULT TAGS */

/* START NAVIGATION */
.navbar-container {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-link {
  color: #231f20;
}

.nav-item a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
}

/* END NAVIGATION */

/* START SELECT SECTION */
.select-container {
  margin-top: 60px;
}

.select-membership {
  text-align: center;
  overflow: hidden;
  height: 540px;
  max-height: 800px;
  z-index: 0;
}

.select-membership img {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  z-index: -1;
}

.select-membership img:hover {
  opacity: 0.7;
}

.select-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
}

.select-content p {
  width: 370px;
  position: absolute;
  font-weight: 600;
  top: calc(50% + 110px);
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.direct-btn {
  height: 60px;
  width: 270px;
  background-color: transparent;
  border: 3px solid #f26122;
  border-radius: 0;
  color: #f26122;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.direct-btn:hover {
  color: #fff;
  background: #f26122;
}

.club-btn {
  height: 60px;
  width: 270px;
  background-color: transparent;
  border: 3px solid #0082ca;
  border-radius: 0;
  color: #0082ca;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.club-btn:hover {
  color: #fff;
  background: #0082ca;
}

/* START NEWSLETTER */
.newsletter-container {
  background: #f4956c;
  padding: 60px;
}

.newsletter-content {
  background: #231f20;
  text-align: center;
  height: 540px;
  align-items: center;
}

.newsletter-content h2 {
  display: block;
  color: #fff;
}

.newsletter-text {
  display: block;
  margin: 0;
  color: #fff;
}

.newsletter-form {
  padding-bottom: 30px;
}

.newsletter-input {
  height: 60px;
  width: 360px;
  border: 3px solid #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  background: #231f20;
  color: #fff;
  padding: 0 15px;
}

.newsletter-btn {
  height: 60px;
  width: 270px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}
.newsletter-btn:hover {
  color: #fff;
  background: #f26122;
  border: 3px solid #f26122;
}

/* END NEWSLETTER */

/* START BENEFIT SECTION */
#benefit {
  padding: 4rem;
  height: 720px;
  background: #231f20;
}

.benefit-tile {
  background: #fff;
  height: 270px;
}

.benefit-all h3 {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #f26122 25%, #0082ca 75%);
  border-image-slice: 1;
}

.benefit-direct h3 {
  color: #f26122;
  /* border-bottom: 3px solid #f26122; */
}

.benefit-club h3 {
  color: #0082ca;
  /* border-bottom: 3px solid #0082ca; */
}

/* END BENEFIT SECTION */

/* START MEMBER SECTION */
#members {
  padding: 60px 0;
  background: #fff;
}

#members h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
}

.member {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-image {
  margin: 0 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.member-text {
  width: 240px;
  margin: 0 15px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member-text p {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.member-name {
  color: #231f20;
}

.member-type {
  color: #f26122;
}
/* END MEMBER SECTION */

/* START INFORMATION SECTION */
#information {
  height: 500px;
  background-color: #333;
}
/* END INFORMATION SECTION */

/* START FOOTER */
footer {
  padding: 60px 0;
  height: 300px;
}

footer p {
  text-align: center;
}
/* END FOOTER */
